# Node
node_modules/

# Build
docs/.vitepress/dist/
docs/.vitepress/.temp/
docs/.vitepress/cache/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Obsidian
.obsidian/workspace.json
.obsidian/cache/
.obsidian/workspace-mobile.json


# Temporary
temp/
tmp/
